<h1>Articles listing page</h1>
<button type="submit" name="button"></button>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>DEscription</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.discription %></td>
      <td><%= link_to 'show ', article_path(article) %></td>
      <td><%= link_to 'Edit ', edit_article_path(article) %></td>
      <td><%= link_to 'delete', article_path(article), method: :delete, data: { confirm: "Are you shure?"} %></td>

    </tr>
    <% end %>

  </tbody>



</table>
<p></p>
<%= link_to 'Create new article', new_article_path %>
