<h1 class="text-center mt-3"><%= @user.username %> your profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="text-center mt-4">
  <%= link_to "Редактировать профиль", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>




<h3 class="text-center mt-3"><%= @user.email %> - - your email</h3>

<h3 class="text-center mt-3"> ARTICLES</h3>
<div class="apple_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>
<div class="apple_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
</div>
